
/* Category cards */
.category-card {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 4px;
  transition: border-color 0.3s, transform 0.3s;
  background-color: #212529;
  margin-bottom: 20px;
}

/* Card hover effects */
.category-card:hover {
  border: 2px solid #007bff;
  transform: scale(1.02);
}

/* Image styling for the cards */
.card-img-top {
  max-height: 50px;
  max-width: 50px;
  object-fit: contain;
  margin: 20px auto;
  display: block;
}

/* Equipment image styling */
.equipment-img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin: 10px 0;
}

/* Equipment dropdown styling */
.form-select {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background-color: #343a40; /* Dark theme background */
  color: #f8f9fa; /* Light text color */
  border: 1px solid #495057; /* Darker border */
}

.form-select-sm {
  font-size: 10px;
}

/* Details section styling */
.details {
  border-top: 1px solid #495057; /* Darker border for details */
  padding-top: 10px;
  color: #212529; /* Light text color for dark theme */
  text-align: left;
  font-size:12px;
}

