.custom-breadcrumb {
  margin-bottom: 10px;
}

/* Category Bar */
.category-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  overflow-x: auto;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.category-icon {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(73, 80, 87, 0.8); /* Semi-transparent background */
  border-radius: 8px;
  margin: 5px;
  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.category-icon img {
  max-width: 50px;
  max-height: 50px;
}

.category-icon:hover {
  border: 5px solid #0761c2;
}

.category-icon.active {
  background-color: rgba(141, 154, 176, 0.8); /* Semi-transparent active background */
}

.dark-card {
  background-color: #343a40;
  color: #fff;
  border: 1px solid #495057;
}

.dark-card .card-body {
  padding: 8px;
}

.equipment-img {
  width: 100px;
  height: auto;
  margin-bottom: 5px;
}

.table-dark th,
.table-dark td {
  color: #fff;
  padding: 5px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.form-select-sm {
  font-size: 12px;
}

.details {
  font-size: 12px;
}
