
h2 {
    font-size: 28px; 
    margin-bottom: 15px; 
    font-weight: bold;
    color: #343a40;
  }
  
  .lead {
    font-size: 20px; 
    margin-bottom: 8px; 
    margin-left: 15px; 
    color: #000000;
    text-align: left;
    font-weight:500;
  }
  
  .list-group-item {
    font-size: 15px; 
    padding: 10px 12px; 
    margin-bottom: 4px; 
    text-align: left;
  }
  
  .list-group strong{
    font-size: 14px;
    color:aqua;
  }

  .brand-logo {
    height: 60px; 
    width: 120px; 
    margin-right: 20px;
  }
  
  .left-section {
    border-radius: 4px; /* Slightly smaller border radius */
    transition: background-color 0.3s;
  }
  
  .card-dark {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .card-dark .list-group-item {
    background-color: #495057;
    color: #ffffff;
    border: none;
  }
  
  .card-dark .list-group-item:not(:last-child) {
    border-bottom: 1px solid #6c757d;
  }

  .backbtn{
    margin-left:auto;
  }